@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

.gradient-text {
  font-size: 1.5em;
  font-weight: bold;
  background: linear-gradient(to right, #00f, #0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.device {
  width: 350px;
  height: 600px;
  background-color: #ff0000;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.screen {
  width: 310px;
  height: 450px;
  background: linear-gradient(to right, #00f, #0ff, #00f);
  border: 10px solid white;
  border-radius: 10px;
  overflow-y: auto;
  margin-top: 10px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.screen::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.indicator {
  width: 40px;
  height: 40px;
  background-color: #3399ff;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 5px; /* Adjusted from 20px to 10px */
  left: 20px;
}

.lights {
  position: absolute;
  top: 10px; /* Adjusted from 30px to 20px */
  left: 70px;
}

.light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.red { background-color: #8F0808; }
.yellow { background-color: #ffff00; }
.green { background-color: #00ff00; }

.d-pad {
  width: 50px;
  height: 50px;
  background-color: #333;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}

.button {
  width: 60px;
  height: 30px;
  background-color: #00ff00;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: none;
  border-radius: 15px;
}

.App {
  text-align: center;
  padding: 5px; 
  margin-top: -70px; /* Reduced padding to move elements up */
}

input {
  padding: 10px;
  margin-right: 5px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: end;
}

.pokemon-input {
  height: 13px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 5px; 
  border: 1px solid #ccc;
  border-radius: 25px;
}

input:focus {
  border-color: #3399ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #2678cc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.error {
  color: #8F0808;
  font-size: 1.7em; /* Increase the font size */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Make it take the full height of the parent */
  text-align: center; /* Center the text */
}



.pokemon-info {
  margin-top: 20px;
}

.pokemon-info img {
  max-width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 0.9em;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  text-align: end;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}
.stats-table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px auto;
  font-size: 12px;
  opacity: 0.9;
}

.stats-table th, .stats-table td {
  padding: 6px;
  border: 1px solid #ddd;
  text-align: center;
}

.stats-table th {
  background-color: #a0c4ff;
}

.stats-table tr:not(:first-child) td:first-child {
  text-transform: capitalize;
}

.stat-hp { background-color: #ff9999; }
.stat-attack { background-color: #ffcc99; }
.stat-defense { background-color: #ffff99; }
.stat-special-attack { background-color: #ccccff; }
.stat-special-defense { background-color: #ffccff; }
.stat-speed { background-color: #99ffcc; }
